// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.countries .chevron {
  margin-top: 11px;
  margin-right: 11px;
  opacity: 0.5;
}